:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

h2 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: var(--very-light-gray);
}

h2,
h4 {
  font-family: "DM Serif Display", serif;
}

/* Menu overlay */

.main-content {
  position: relative;
}

.main-content::before {
  content: "";
  top: 60px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(43, 39, 47, 0);
  transition: all 0.3s ease;
  z-index: 3;
}

.main-content.overlay::before {
  content: "";
  top: 57px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 26%;
  background-color: rgba(43, 39, 47, 1);
  z-index: 3;
}

/* End of menu overlay */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  position: relative;
}

.nav__image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close {
  display: none;
}

.nav__navigation {
  transform: translateX(-200%);
  transition: all 0.3s ease;
  z-index: 5;
}

.nav__navigation.open {
  transform: translateX(0);
}

.nav__navigation ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
}

.nav__navigation ul li a {
  display: inline-block;
  padding: 1.5rem 0.5rem;
  color: hsl(270, 9%, 17%);
  font-family: "Karla", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.nav__navigation ul li:last-child {
  border: 2px solid #fff;
}

.main .container {
  width: 100%;
  background-color: hsl(256, 26%, 20%);
}

.main__image {
  margin-top: -21.5rem;
}

.main__image img {
  width: 100%;
}

.main__content {
  padding: 3rem;
  text-align: center;
  color: #fff;
  position: relative;
}

.main__content::before {
  content: "";
  background-image: url(./images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main__content::after {
  content: "";
  background-image: url(./images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 20%;
  height: 42%;
  bottom: 0;
  right: 0;
}

/* .main__content h2 {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
} */

.btn {
  color: #fff;
  display: inline-block;
  margin: 20px 0;
  border: 2px solid #fff;
  padding: 0.8rem 2rem;
}

/* .main__content a {
  color: #fff;
  display: inline-block;
  margin: 20px 0;
  border: 2px solid #fff;
  padding: 0.8rem 2rem;
} */

/* Section Content */

.content {
  background-color: var(--very-light-gray);
}
.content__body {
  text-align: center;
  padding: 3rem 0;
  display: flex;
  flex-flow: column;
}

.content .content__heading h2 {
  padding: 3rem 0;
  color: var(--very-dark-violet);
}

.content img {
  padding: 1rem 0;
}

.content h4 {
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.content p {
  padding-bottom: 1rem;
  color: var(--very-dark-violet);
}

.find {
  background-color: var(--dark-violet);
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.find__content {
  text-align: center;
  padding: 3rem 0;
}
